    <div class="text-center">
      <%= link_to 'Create new task!', new_task_path, class: 'btn btn-lg btn-light btn-block mb-3' %>
    </div>

  <div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= current_user.name %></h3>
      </div>
      <div class="card-body">
        <img class="rounded img-fluid" src="<%= gravatar_url(current_user, { size: 500 }) %>" alt="">
      </div>
    </div>
  </aside>
  <div class="col-sm-8">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Task</th>
          <th scope="col">status</th>
        </tr>
      </thead>
      <tbody>
        <% @tasks.each do |task| %>
          <tr>
            <th scope="row"><%= link_to "Detail", task_path(task) %></th>
            <td><%= task.content %></td>
            <td><%= task.status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

